html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
    outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}



audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}



audio:not([controls]) {
    display: none;
    height: 0;
}



[hidden] {
    display: none;
}


html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}



a:focus {
    outline: thin dotted;
}



a:active,
a:hover {
    outline: 0;
}



img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}


figure {
    margin: 0;
}


form {
    margin: 0;
}



fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}



legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}



button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}


button,
input {
    line-height: normal;
}



button,
select {
    text-transform: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}



button[disabled],
html input[disabled] {
    cursor: default;
}



input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}



input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}



input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* Начало */
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 48px 0 0 0 #be0202,
        36px 36px 0 0 #be0202,
        0px 48px 0 0 #be0202,
        -36px 36px 0 0 #be0202,
        -48px 0 0 0 #be0202,
        -36px -36px 0 0 #be0202,
        0px -48px 0 0 #be0202,
        36px -36px 0 0 #be0202;
    animation: animate 1.5s infinite linear;
}

@keyframes animate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #000000;
  z-index: 11}

  .loaded_hiding .preloader {
  transition: 0.5s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
@font-face {
    
    src: url('../fonts/Naga.ttf'); 

    
    font-family: 'Naga';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 65px;

    color: #FFFFFF;


   }


@font-face {


font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 21px;

color: #FFFFFF;


    src: url(../fonts/Montserrat-Medium.ttf);
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;
    src: url(../fonts/Montserrat-Bold.ttf);
}

html{
    background-color: #030303;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a:focus, a:active, a:visited{
outline: none;
}
body{

}

::selection {
    background: #89a1bf;
    text-shadow: none;
}
.wrapper {
    max-width: 1201px;
    margin: 0 auto;

}

body{
  background: url(../img/rounds4.png) no-repeat;
        background-size: 100%;
}

.header{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: url(../img/header.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 10;
}

.header-logo{
    padding: 29px;
    overflow:hidden;
    
}

.header-logo img{
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

    }

.header-logo img:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);

    -webkit-filter: drop-shadow(0px 0px 7px #ff2323);
    filter: drop-shadow(0px 0px 7px #ff2323);
}

 .header-wrapper{
    display: flex;
/*    flex-wrap: nowrap;
*/    align-items: center;
    justify-content: space-between;

  

  }

  
  .header-list{
    display: flex;
    flex-wrap: nowrap;
  
    padding: 45px;
  }

 
  /*.header-item:last-child{
    margin-right: 134px;
  }*/

  .header-link{
    margin-right: 86px;
    color: white;
    text-decoration: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    transition: 0.7s;
  }

  .header-link:hover, .header-link:focus, .header-link:active{
    font-size: 32px;
    text-shadow: 0 0 30px #ffff99;
    transition: 0.5s;
  }

 
  /* Intro */

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
  .intro {
    width: 100%;
    height: 940px;
   /* background: url(../img/rounds1.png) no-repeat center;
        background-size: 100%;*/
  }

  .main-logo{
    margin-top: 400px;
    text-align: center;
  }

 .intro-title{
    width: 100%;
    max-width: 533px;
    margin: 0 auto;
    margin-top: 45px;
    src: url(../fonts/Naga); 

    
    font-family: 'Naga';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    
    text-align: center;
    line-height: 62px;

    color: #FFFFFF;

  }

 

  .red-text{
    color: #BE0202;
  }

  /* Info */

  .info {
    /*margin-top: 375px;*/
    height: 940px;
    /*background: url(../img/rounds2.png) no-repeat;
    background-size: 100%;*/
  }
    
  .info-rect{
    margin-top: 60px;
    margin-left: 46px;
    background: url(../img/rect.png) no-repeat;
    background-size: auto;
  }

    

  .info-rect h3{
        
    position: relative;

    width: 652.1px;
    height: 320.25px;
    top: 23px;
    left: 42px;


    font-family: 'Naga';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;


    color: #FFFFFF;
    }

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;

    font-family: 'Naga';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 65px;
    

    color: #FFFFFF;
}

.games__header{
  width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;

    font-family: 'Naga';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 65px;
    

    color: #FFFFFF;
}
  /* Games */


  .games {
    
    height: 550px;
    /*background: url(../img/rounds3.png) no-repeat;
    background-size: cover;*/
  }

#slider {
   margin-top: 150px;
   margin: 0 auto;
   width: 800px;
   max-width: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 6px solid #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}

#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 400px;
}


#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}


#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 95px;
   height: 110px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1){
   background: url(../img/arrow-right-circle.png) no-repeat;
   float:right;
   margin: -60px -115px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(2){
   background: url(../img/arrow-left-circle.png) no-repeat;
   float:left;
   margin: -60px 0 0 -115px;
   display: block;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1),#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1):hover,#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1),#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1):active,#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1),#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1):focus{
  -webkit-filter: drop-shadow(0px 0px 7px #ffffff);
    filter: drop-shadow(0px 0px 7px #ffffff);
    
}


#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(2),#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(2):hover,#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(2),#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(2):active,#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(2),#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(2):focus{
  -webkit-filter: drop-shadow(0px 0px 7px #ffffff);
    filter: drop-shadow(0px 0px 7px #ffffff);
    
}


#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2)
{
   background: #9d0505;
}

  /* Контакты */

.contacts {
    height: 450px;
    margin-top: 500px;
  }
.contacts-icons {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;*/
    
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 125px 165px;

}

.contacts-icons-item{

    
    text-decoration: none;
    
}



.contacts-icons-item img{
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

    }

.contacts-icons-item img:hover, .contacts-icons-item img:active{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);

    -webkit-filter: drop-shadow(0px 0px 7px #ff2323);
    filter: drop-shadow(0px 0px 7px #ff2323);

}

 .footer-logo{
    padding-top: 128px;
    
 }
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  margin-top: 150px;
  background: url(../img/footer.png) ;
    background-size: cover;
    padding: 35px 0;
}
.footer-col{
   /*width: 25%;*/
   padding: 0 60px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 1px;
}
.footer-col a{
  color: white;
    text-decoration: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 53px;
}
.footer-col a:hover, .footer-col a:focus, .footer-col a:active{
    opacity: .50;}

.topbutton {
  z-index: 9;
width:100px;
text-align:center;
padding:10px;
position:fixed;
bottom:50px;
right:50px;
}



@media(max-width: 1200px){
  .header-logo {
    padding: 12px;
  }

  .header-logo img{
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
.header-logo img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);}

  .header-link {
    margin-right: 80px;
    font-size: 20px;
}
.header-link:hover, .header-link:focus, .header-link:active{
    font-size: 26px;
    text-shadow: 0 0 30px #ffff99;
    transition: 0.5s;
  }
  .main-logo{
   scale : 90%;
  }

  .intro-title {
    margin-top: 31px;
    font-size: 39px;
    line-height: 52px;
}

.info-rect {
    margin-top: 60px;
    margin-left: 46px;
    background: url(../img/rect.png) no-repeat;
    background-size: 710px 295px;
}

.info-rect h3 {
    
    font-size: 20px;
    top: 25px;
    left: 39px;
}

 .section__header {
    font-size: 37px;
 }

 .games__header{
  font-size: 27px;
 }

#slides {
    max-width: 670px;
    margin: 0 auto;
}
#slide1:checked ~ #controls label:nth-last-child(1), #slide2:checked ~ #controls label:nth-last-child(2) {
    background: url(../img/arrow-left-circle.png) no-repeat;
    margin: -60px 0 0 -33px;
}
#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(1) {
    background: url(../img/arrow-right-circle.png) no-repeat;
    float: right;
    margin: -60px -60px 0 0;
    display: block;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1){
   background: url(../img/arrow-right-circle.png) no-repeat;
   background-size: 71px 73px;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(2){
   background: url(../img/arrow-left-circle.png) no-repeat;
   background-size: 71px 73px;
}
.contacts-icons {
    margin: 125px 130px;
    flex-wrap: wrap;
    justify-content: center;
}


.contacts-icons-item img{
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
.contacts-icons-item img:hover, .contacts-icons-item img:active{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);

    -webkit-filter: drop-shadow(0px 0px 7px #ff2323);
    filter: drop-shadow(0px 0px 7px #ff2323);

}
.footer-col {
    padding: 0 39px;
}



 .topbutton{
  transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
}

}

@media(max-width: 990px){
  .header{
    display: none;
  }
  body {
    background: url(../img/rounds4.png) no-repeat;
    background-size: 1 100%;
}

  /*.header-logo {
    padding: 15px;
  }
  .header-logo img{

    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
 .header-link {
    margin-right: 86px;
    font-size: 21px;
  }*/
  .main-logo{
    scale : 80%;
  }

  .intro-title {
    margin-top: 21px;
    font-size: 32px;
    line-height: 42px;
}
.info-rect {
    background-size: 600px 290px;
}

.info-rect h3 {
    font-size: 18px;
    top: 25px;
    left: 37px;
    width: 515.1px;
    line-height: 35px;
}
.section__header {
    font-size: 30px;
}

.games__header{
  font-size: 20px;
 }

#slides {
    max-width: 515px;
    margin: 0 auto;
}

#slider {
    width: 655px;
}

.hc-games-logo img {
    transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
  }

#slides .inner {
    height: 290px;
}

#slide1:checked ~ #controls label:nth-last-child(1), #slide2:checked ~ #controls label:nth-last-child(2) {
    background: url(../img/arrow-left-circle.png) no-repeat;
    margin: -33px 0 0 -20px;
}

#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(1) {
    background: url(../img/arrow-right-circle.png) no-repeat;
    float: right;
    margin: -33px -56px 0 0;
    display: block;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1){
   background: url(../img/arrow-right-circle.png) no-repeat;
   background-size: 57px 59px;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(2){
   background: url(../img/arrow-left-circle.png) no-repeat;
   background-size: 57px 59px;
}

.contacts-icons {
    margin: 125px 35px;
}


.contacts-icons-item img{
    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
  }

  .contacts-icons-item img:hover, .contacts-icons-item img:active{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);

    -webkit-filter: drop-shadow(0px 0px 7px #ff2323);
    filter: drop-shadow(0px 0px 7px #ff2323);

}

.footer-col h4{
  font-size: 18px;
  color: #e91e35;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}
.sl::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #eb3636;
  height: 2px;
  box-sizing: border-box;
  width: 66px;
}

.fl::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #eb3636;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.el::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #eb3636;
  height: 2px;
  box-sizing: border-box;
  width: 87px;
}


.footer-col a {
    font-size: 22px;
    line-height: 50px;
}
.footer-col {
    padding: 0 21px;
}
/*.footer-logo {
    padding-top: 0px;
}*/

.footer-logo {
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
}

 .topbutton{
  display: none;
 }
}

@media(max-width: 767px){
  .header{ 
    background-size: 100%;
}
  /*.header-logo {
    padding: 12px;
  }
  .header-logo img{

    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
  }*/
 .header-link {
    margin-right: 50px;
    font-size: 18px;
  }

 .main-logo{
    scale : 60%;
  }

  .intro-title {
    max-width: 458px;
    margin-top: 1px;
    font-size: 27px;
    line-height: 32px;
}

.info-rect {
    margin-left: 27px;
    background-size: 450px 210px;
}

.info-rect h3 {
    font-size: 12px;
    top: 17px;
    left: 30px;
    width: 393.1px;
    line-height: 30px;
  }

.section__header {
    font-size: 27px;
}
.games__header{
  font-size: 17px;
 }
#slider {
    width: 505px;
}

.hc-games-logo img {
    transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
  }

#slides .inner {
    height: 221px;
}
#slides {
    max-width: 355px;
    margin: 0 auto;
}
#slide1:checked ~ #controls label:nth-last-child(1), #slide2:checked ~ #controls label:nth-last-child(2) {
    background: url(../img/arrow-left-circle.png) no-repeat;
    margin: 6px 0 0 0px;
}

#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(1) {
    background: url(../img/arrow-right-circle.png) no-repeat;
    float: right;
    margin: 6px -36px 0 0;
    display: block;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1){
   background: url(../img/arrow-right-circle.png) no-repeat;
   background-size: 55px 57px;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(2){
   background: url(../img/arrow-left-circle.png) no-repeat;
   background-size: 55px 57px;
}

.contacts-icons {
    margin: 125px 58px;
    
}


.contacts-icons-item img{
    transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
  }
.contacts-icons-item img:hover, .contacts-icons-item img:active{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);

    -webkit-filter: drop-shadow(0px 0px 7px #ff2323);
    filter: drop-shadow(0px 0px 7px #ff2323);

}
.footer-col a {
    font-size: 20px;
    line-height: 40px;
  }

  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    padding: 0 57px;
}

 .footer-logo{
    padding-top: 0px;
    
 }

 


 }

@media(max-width: 574px){

  .main-logo{
    scale : 45%;
    
  }
 .intro {
    width: 100%;
    height: 634px;
 }

 

  .intro-title {
    max-width: 222px;
    margin-top: -40px;
    font-size: 18px;
    line-height: 22px;
}

.info {
    /* margin-top: 375px; */
    height: 679px;
}

.info-rect {
    background: url(../img/rect_mobile.png) no-repeat;
    background-size: 251px 290px;
    margin-left: 0px;
}
.info-rect h3 {
    font-size: 12px;
    top: 9px;
    left: 19px;
    width: 212px;
    line-height: 25px;
}
.section__header {
    font-size: 22px;
}

.games {
    height: 299px;
}

#slide1:checked ~ #controls label:nth-last-child(1), #slide2:checked ~ #controls label:nth-last-child(2) {
    display: none;
}

#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(1) {
    display: none;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1){
   display: none;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(2){
   display: none;
}
.hc-games-logo img {
    transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
    -moz-transform: scale(0.4, 0.4);
    -o-transform: scale(0.4, 0.4);
}

#slides {
    max-width: calc(100% - 75px);
    margin: 0 auto;
}
#slides .inner {
    height: 170px;
}
#bullets label {
    width: 14px;
    height: 14px;
  
}
.contacts-icons {
    margin: 0px 21px}

 .contacts-icons-item img{
    transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
  }
.contacts-icons-item img:hover, .contacts-icons-item img:active{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);

    -webkit-filter: drop-shadow(0px 0px 7px #ff2323);
    filter: drop-shadow(0px 0px 7px #ff2323);

}   
.footer-col a {
    font-size: 16px;
    line-height: 35px;
}
  .footer-col{
    margin-bottom: 30px;
    padding: 0 27px;
}

.footer-logo {
    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
}

.footer{

  margin-top: 175px;
}

}







/*Heaven City Game Page*/

.hc-intro-wrapper{
  margin-bottom: 100px;
}
.heaven-city-cover{
  padding-top: 100px;
}

.hc-intro-text-wrapper{
    
  max-width: 100%;
  
    
    
}
.hc-intro-text h1{
    width: 1100px;
    padding-left: 140px;
    
    src: url(..fonts/Naga.ttf); 

    
    font-family: 'Naga';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    

    color: #FFFFFF;
  

  }

  .hc-intro-text p{
    src: url(../fonts/Naga.ttf); 

    
    font-family: 'Naga';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    
    padding-left: 540px;
   padding-top: 100px;
    

    color: #FFFFFF;
    
  }


.hc-intro-text a{
    text-decoration: none;
    transition: 0.5s;
    font-size: 32px;

 }

.hc-intro-text a:hover, .hc-intro-text a:focus, .hc-intro-text a:active{
    font-size: 35px;
    text-shadow: 0 0 20px #ffffff;
    transition: 0.5s;
  }

  .hc-intro-text-wrapper hr {

  border:3px solid white;
  width: 100%;
  display: block;

}

  .hc-trailer-wrapper{
    text-align: center;
  }

  .hc-trailer-wrapper h2{
    src: url(../fonts/Naga.ttf); 

    
    font-family: 'Naga';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;

    
   
    

    color: #FFFFFF;
  }

  .hc-video{
    border: 10px solid;
  border-color:  #ffffff;
  }
  .hc-video-w{
    padding-top: 60px;
  }

  .hc-art-wrapper{
    padding-top: 90px;
    text-align: center;
  }


  .hc-art-wrapper h2{
    src: url(../fonts/Naga.ttf); 
    font-family: 'Naga';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
  }

  .hc-art-wrapper p{
    padding-top: 7px;
    src: url(../fonts/Naga.ttf); 
    font-family: 'Naga';
    font-style: normal;
   
    font-size: 21px;
    color: #FFFFFF;
  }

  .hc-art-list{
    padding-top: 110px;
    display: flex;
    flex-wrap: wrap;

    
    justify-content: space-evenly;
    
  }
.hc-art-item{
  border: 7px solid;
  border-color:  #f2f2f2;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #FFFFFF;

}
  .hc-art-item:last-child{
    margin-top: 100px;
  }

  .hc-footer{
    margin-top: 175px;
    background: url(../img/footer.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    }




/*Blog | Inside The Cage Games*/
#content {
  position: relative;
  float: left;
  width: 1115px;
  top: 350px;
  left: 148px;
  
}

.post-1{

  background: url(../img/blog-rect.png) no-repeat ;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  
}

.post-1 a{
  text-decoration: none;
  color: white;
}
.post-1 img {
    position: relative;
    
    top: 27px;
    left: 19px;
}

.post-1 h2{

position: relative;
bottom:130px;
left: 36px;
width: 532px;
height: 34px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;

text-align: center;

color: #FFFFFF;




}

.post-1 p{position: relative;
bottom:101px;
left: 325px;
width: 720px;
height: 109px;

font-family: 'Montserrat';
src: url(../fonts/Montserrat-Medium.ttf);
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 22px;

color: #FFFFFF;



}



/*Heaven city released!*/

.hc-introreal-wrapper{
  max-height: 1500px;
  
}
.article{
  border: 7px solid;
  border-color:  #ffffff;
  
  border-right: none; 
  border-left: none; 
}
.news-content-info {
  max-height: 0px; 

    }

.news-content-info h1{
  padding-left: 100px;
  text-align: left;
  font-family: 'Naga';
  src: url(../fonts/Naga.ttf); 

    }
.publish-data{    
  text-align: left;
  padding-left: 100px;
  padding-top: 15px;
  font-size: 15px;
  font-family: 'Montserrat';
font-style: normal;

line-height: 21px;

color: #FFFFFF;
}
.dark-red{
  color: #AF1414;
  font-size: 20px;}
  
.news-content-info hr {

  border:1px solid #AF1414;
  border-radius: 5px;
  display: block;
  margin-top: 15px;

  margin-left: 100px;
  margin-right: auto;

  width:84%;

}

.news-content h2{
  text-align: left;
  padding-left: 100px;

  font-size: 32px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;


color: #FFFFFF;
}

.news-content p{
  width:1125px;
  text-align: left;
  padding-left: 100px;
font-weight: 400;
  font-size: 20px;
  font-family: 'Montserrat';
font-style: normal;
line-height: 30px;


color: #FFFFFF;

}

.news-content p: last-child{
  padding-bottom: 100px;
}
.news-content b{
  
font-weight: 700;

}

.news-content iframe{
  padding-top: 50px;
  
    padding-left: 400px;
    left: 0;
    top: 0;
    margin-bottom:15px;
    
    cursor: pointer;

}

.video-descr{
  padding-left: 310px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  
  font-family: 'Montserrat';
}
.news-video{
  margin-bottom:50px;

}
.news-quote blockquote{
  padding-top: 50px;
  margin-bottom:12px;
  padding-left: 310px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  
  font-family: 'Naga';
}
.news-prim{
  padding-left: 310px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  
  font-family: 'Montserrat';

}
.news-quote{
  margin-bottom:50px;
}

.dark-red-quote{
  color: #AF1414;}

  .last-one{
    margin-bottom: 50px;
  }
.article-footer{
  margin-top: 125px;
  background: url(../img/footer.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}


